// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)
#include "Resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#include "verrsrc.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "Resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#define APSTUDIO_READONLY_SYMBOLS\r\n"
    "#include ""afxres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "#undef APSTUDIO_READONLY_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "#include ""res\\TargetSimUI.rc2""\r\n"
    "#include ""afxres.rc""\r\n"
    "\0"
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
// Dialog
//
IDD_TARGETSIMUI_DIALOG DIALOGEX 0, 0, 640, 380
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "TargetSim"
FONT 9, "Malgun Gothic", 400, 0, 0x81
BEGIN
    GROUPBOX        "시뮬레이션 (시간·간격 s)",IDC_STATIC,7,4,280,32
    LTEXT           "시간",IDC_STATIC,13,18,22,8
    EDITTEXT        IDC_SIM_DURATION,36,16,42,12,ES_AUTOHSCROLL
    LTEXT           "간격",IDC_STATIC,81,18,22,8
    EDITTEXT        IDC_SIM_STEP,104,16,42,12,ES_AUTOHSCROLL
    PUSHBUTTON      "명세 시나리오",IDC_LOAD_SPEC,206,15,76,14

    GROUPBOX        "플랫폼 (위경도·자세 deg, 고도 m, 속력 m/s)",IDC_STATIC,7,40,280,48
    LTEXT           "위도",IDC_STATIC,13,55,22,8
    EDITTEXT        IDC_PLT_LAT,36,53,42,12,ES_AUTOHSCROLL
    LTEXT           "경도",IDC_STATIC,81,55,22,8
    EDITTEXT        IDC_PLT_LON,104,53,42,12,ES_AUTOHSCROLL
    LTEXT           "고도",IDC_STATIC,149,55,22,8
    EDITTEXT        IDC_PLT_ALT,172,53,42,12,ES_AUTOHSCROLL
    LTEXT           "속력",IDC_STATIC,217,55,22,8
    EDITTEXT        IDC_PLT_SPEED,240,53,42,12,ES_AUTOHSCROLL
    LTEXT           "Roll",IDC_STATIC,13,71,22,8
    EDITTEXT        IDC_PLT_ROLL,36,69,42,12,ES_AUTOHSCROLL
    LTEXT           "Pitch",IDC_STATIC,81,71,22,8
    EDITTEXT        IDC_PLT_PITCH,104,69,42,12,ES_AUTOHSCROLL
    LTEXT           "Yaw",IDC_STATIC,149,71,22,8
    EDITTEXT        IDC_PLT_YAW,172,69,42,12,ES_AUTOHSCROLL

    GROUPBOX        "표적 (단위는 플랫폼과 같음)",IDC_STATIC,7,92,280,64
    LTEXT           "선택",IDC_STATIC,13,106,22,8
    COMBOBOX        IDC_TGT_SELECT,36,104,60,120,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "2 / 10",IDC_TGT_COUNT,104,106,40,8,SS_NOPREFIX
    PUSHBUTTON      "표적 추가",IDC_TGT_ADD,172,103,53,14
    PUSHBUTTON      "표적 삭제",IDC_TGT_DELETE,229,103,53,14
    LTEXT           "위도",IDC_STATIC,13,124,22,8
    EDITTEXT        IDC_TGT_LAT,36,122,42,12,ES_AUTOHSCROLL
    LTEXT           "경도",IDC_STATIC,81,124,22,8
    EDITTEXT        IDC_TGT_LON,104,122,42,12,ES_AUTOHSCROLL
    LTEXT           "고도",IDC_STATIC,149,124,22,8
    EDITTEXT        IDC_TGT_ALT,172,122,42,12,ES_AUTOHSCROLL
    LTEXT           "속력",IDC_STATIC,217,124,22,8
    EDITTEXT        IDC_TGT_SPEED,240,122,42,12,ES_AUTOHSCROLL
    LTEXT           "Roll",IDC_STATIC,13,140,22,8
    EDITTEXT        IDC_TGT_ROLL,36,138,42,12,ES_AUTOHSCROLL
    LTEXT           "Pitch",IDC_STATIC,81,140,22,8
    EDITTEXT        IDC_TGT_PITCH,104,138,42,12,ES_AUTOHSCROLL
    LTEXT           "Yaw",IDC_STATIC,149,140,22,8
    EDITTEXT        IDC_TGT_YAW,172,138,42,12,ES_AUTOHSCROLL

    GROUPBOX        "기동 (선택 표적, 구간 [시작, 종료) s)",IDC_STATIC,7,160,280,150
    CONTROL         "",IDC_MNV_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,13,172,212,96
    PUSHBUTTON      "기동 추가",IDC_MNV_ADD,229,172,53,14
    PUSHBUTTON      "기동 삭제",IDC_MNV_DELETE,229,190,53,14
    LTEXT           "0 / 30",IDC_MNV_COUNT,229,210,53,8,SS_NOPREFIX
    LTEXT           "축",IDC_STATIC,13,276,22,8
    COMBOBOX        IDC_MNV_TYPE,36,274,42,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "G",IDC_STATIC,81,276,22,8
    EDITTEXT        IDC_MNV_GRAVITY,104,274,42,12,ES_AUTOHSCROLL
    LTEXT           "시작",IDC_STATIC,149,276,22,8
    EDITTEXT        IDC_MNV_START,172,274,42,12,ES_AUTOHSCROLL
    LTEXT           "종료",IDC_STATIC,217,276,22,8
    EDITTEXT        IDC_MNV_END,240,274,42,12,ES_AUTOHSCROLL
    LTEXT           "G 부호: Roll(+) 우측 뱅크, Yaw(+) 우선회, Pitch(+) 기수 상승",IDC_STATIC,13,292,269,8

    PUSHBUTTON      "실행",IDC_RUN,7,316,70,18
    LTEXT           "",IDC_RUN_STATUS,7,338,280,34,SS_NOPREFIX

    CONTROL         "",IDC_PLOT,"Static",SS_BLACKFRAME,294,4,339,210
    PUSHBUTTON      "재생",IDC_PLAY,294,219,44,14
    COMBOBOX        IDC_PLAY_SPEED,342,219,40,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_TIME_SLIDER,"msctls_trackbar32",TBS_HORZ | TBS_NOTICKS | TBS_BOTH | WS_TABSTOP,386,218,140,16
    LTEXT           "t = -",IDC_TIME_TEXT,530,222,103,8,SS_NOPREFIX
    CONTROL         "",IDC_RESULT_LIST,"SysListView32",LVS_REPORT | LVS_OWNERDATA | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,294,238,339,116
    LTEXT           "CSV",IDC_STATIC,294,362,16,8
    EDITTEXT        IDC_CSV_PATH,312,360,219,12,ES_AUTOHSCROLL
    PUSHBUTTON      "찾아보기...",IDC_CSV_BROWSE,535,359,44,14
    PUSHBUTTON      "CSV 저장",IDC_SAVE_CSV,583,359,50,14
END

IDD_ABOUTBOX DIALOGEX 0, 0, 228, 72
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About TargetSim"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "TargetSim",IDC_STATIC,14,14,200,8,SS_NOPREFIX
    LTEXT           "Part3 TargetSim / radar-sw-study",IDC_STATIC,14,26,200,8
    DEFPUSHBUTTON   "OK",IDOK,171,51,50,14,WS_GROUP
END

/////////////////////////////////////////////////////////////////////////////
// DESIGNINFO
//
#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_TARGETSIMUI_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 633
        TOPMARGIN, 4
        BOTTOMMARGIN, 372
    END

    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 221
        TOPMARGIN, 7
        BOTTOMMARGIN, 65
    END
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "radar-sw-study"
            VALUE "FileDescription", "TargetSim UI"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "TargetSimUI.exe"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "TargetSimUI.exe"
            VALUE "ProductName", "TargetSim"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
// String Table
//
STRINGTABLE
BEGIN
    IDS_ABOUTBOX            "About TargetSim..."
    AFX_IDS_APP_TITLE       "TargetSim"
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
// Generated from the TEXTINCLUDE 3 resource.
//
#include "res\TargetSimUI.rc2"
#include "afxres.rc"

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
