// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)
#include "Resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#include "verrsrc.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "Resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#define APSTUDIO_READONLY_SYMBOLS\r\n"
    "#include ""afxres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "#undef APSTUDIO_READONLY_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "#include ""res\\PlotSimUI.rc2""\r\n"
    "#include ""afxres.rc""\r\n"
    "\0"
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
// Dialog
//
IDD_PLOTSIMUI_DIALOG DIALOGEX 0, 0, 600, 316
STYLE DS_SETFONT | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "PlotSim"
FONT 9, "Malgun Gothic", 400, 0, 0x81
BEGIN
    LTEXT           "SNR (선형)",IDC_STATIC,8,10,38,8
    EDITTEXT        IDC_SNR,48,8,32,14,ES_AUTOHSCROLL
    LTEXT           "스캔당 클러터",IDC_STATIC,92,10,48,8
    EDITTEXT        IDC_CLUTTER_NUM,142,8,24,14,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "실행",IDC_RUN,176,8,50,14
    LTEXT           "",IDC_SUMMARY,8,28,584,8,SS_NOPREFIX
    CONTROL         "",IDC_MAP,"Static",SS_LEFT,8,42,380,266
    CONTROL         "",IDC_UNIFORM,"Static",SS_LEFT,394,42,198,130
    CONTROL         "",IDC_GAUSS,"Static",SS_LEFT,394,178,198,130
END

/////////////////////////////////////////////////////////////////////////////
// DESIGNINFO
//
#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_PLOTSIMUI_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 8
        RIGHTMARGIN, 592
        TOPMARGIN, 8
        BOTTOMMARGIN, 308
    END
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "radar-sw-study"
            VALUE "FileDescription", "PlotSim UI"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "PlotSimUI.exe"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "PlotSimUI.exe"
            VALUE "ProductName", "PlotSim"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
// String Table
//
STRINGTABLE
BEGIN
    AFX_IDS_APP_TITLE       "PlotSim"
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
// Generated from the TEXTINCLUDE 3 resource.
//
#include "res\PlotSimUI.rc2"
#include "afxres.rc"

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
